.item {
  width: 100%;
  border: 5px solid #14161b;
  border-radius: 5px;
  background-color: #d7d7d7;
  color: #4e4e4e;
  padding: 0.5rem 1rem;
  font-weight: 700;

  display: flex;
  display: flex;
  align-items: center;

  &__name {
    flex: 1 1 auto;
  }

  &__description-icon {
    display: flex;
    align-items: center;
  }

  &__amount {
    display: flex;
    align-items: center;
  }

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}
